# OmniESL Infrastructure Config
NODE_ENV=production
LOG_LEVEL=info

# Database (PostgreSQL)
DATABASE_URL=postgres://user:password@localhost:5432/omniesl

# Queue & Cache (Redis)
REDIS_URL=redis://localhost:6379

# IoT Communication (HiveMQ Cloud)
# Get Username/Password from the HiveMQ Access Management tab
MQTT_URL=mqtts://02b0af7dccb340228d1cfe36ce155ae0.s1.eu.hivemq.cloud:8883
MQTT_USER=your_hivemq_user
MQTT_PASS=your_hivemq_password
MQTT_CLIENT_ID=omniesl_operator_server

# Port is fixed to 3000 by environment
PORT=3000
